@import "variables.scss";

body {
  font-family: $admin-primary-font;
}
button {
  background-color: none;
}

* {
  margin: 0;
  padding: 0;
}

// React Quill Editor
.ql-editor {
  min-height: 200px;
}
