@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Color */
$admin-primary-color: #e3f2fd;
$admin-primary-dark: #2196f3;

// secondary
$admin-secondary-light: #ede7f6;
$admin-secondary-main: #673ab7;
$admin-secondary-dark: #5e35b1;
$admin-secondary-200: #b39ddb;
$admin-secondary-800: #4527a0;

/* Font */
$admin-primary-font: "Roboto", sans-serif;
